services:
  - type: web
    name: vaxtrack-frontend
    env: static
    rootDir: frontend
    buildCommand: cd frontend && npm install && npm run build
    staticPublishPath: frontend/build
    headers:
      - path: /*
        name: Cache-Control
        value: no-cache